################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Updater/Updater/obj
/.vs
/Updater/.vs/API/v16
/Updater/Updater/bin
/Updater/.vs/Updater/v16
/Updater/UpdaterTester
/Updater/bin/Debug
/Updater/obj/Debug
/UpdaterTester
/packages/StyleCop.Analyzers.1.1.118
